<%- include("layout/head.html") %>

    <div class="container">


        <div>
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </symbol>
                <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path
                        d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                </symbol>
                <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path
                        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </symbol>
            </svg>


            <% if(success_msg !=0){ %>
                <div class="alert alert-success d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                        <use xlink:href="#check-circle-fill" />
                    </svg>
                    <div style="margin-left: 10px;">
                        <%= success_msg %>
                    </div>
                </div>
                <% } %>

        </div>
        <legend>Cadastro de Leads</legend>
        <hr>
        <form method="POST" action="/insert/leads">

            <div class="form-row">


                <div class="form-group col-md-4">
                    <label for="inputDate">DATA E HORA</label>
                    <input type="text" class="form-control form-control-sm" name="inputDate" id="inputDate" disabled>
                </div>

                <div class="form-group col-md-4">
                    <label for="exampleFormControlSelect1">ZONA DE AÇÃO</label>
                    <select class="form-control form-control-sm" name="zona" id="zona" onchange="Zona()">

                        <option></option>
                        <option value="zn">ZONA NORTE</option>
                        <option value="zl">ZONA LESTE</option>
                        <option value="zs">ZONA SUL</option>
                        <option value="zo">ZONA OESTE</option>
                        <option value="zcs">ZONA CENTRO-SUL</option>
                        <option value="zco">ZONA CENTRO-OESTE</option>
                    </select>
                </div>


                <div class="form-group col-md-4" id="norte" style="display:none;">
                    <label for="exampleFormControlSelect1">BAIRROS</label>
                    <select class="form-control form-control-sm" name="bairro">

                        <option></option>
                        <option>Cidade de Deus</option>
                        <option>Cidade Nova</option>
                        <option>Colônia Santo Antônio</option>
                        <option>Colônia Terra Nova</option>
                        <option>Lago Azul</option>
                        <option>Monte das Oliveiras</option>
                        <option>Nova Cidade</option>
                        <option>Novo Aleixo</option>
                        <option>Novo Israel</option>
                        <option>Santa Etelvina</option>




                    </select>


                </div>

                <div class="form-group col-md-4" id="leste" style="display:none;">
                    <label for="exampleFormControlSelect1">BAIRROS</label>
                    <select class="form-control form-control-sm" name="bairro">

                        <option></option>
                        <option>Armando Mendes</option>
                        <option>Colônia Antônio Aleixo</option>
                        <option>Coroado</option>
                        <option>Distrito Industrial II</option>
                        <option>Gilberto Mestrinho</option>
                        <option>Jorge Teixeira</option>
                        <option>Mauazinho</option>
                        <option>Puraquequara</option>
                        <option>São José Operário</option>
                        <option>Tancredo Neves</option>
                        <option>Zumbi dos Palmares</option>


                    </select>
                </div>

                <div class="form-group col-md-4" id="sul" style="display:none;">
                    <label for="exampleFormControlSelect1">BAIRROS</label>
                    <select class="form-control form-control-sm" name="bairro">

                        <option></option>
                        <option>Betânia</option>
                        <option>Cachoeirinha</option>
                        <option>Centro</option>
                        <option>Colônia Oliveira Machado</option>
                        <option>Crespo</option>
                        <option>Distrito Industrial I</option>
                        <option>Educandos</option>
                        <option>Japiim</option>
                        <option>Morro da Liberdade</option>
                        <option>Nossa Senhora Aparecida</option>
                        <option>Petrópolis</option>
                        <option>Praça 14 de Janeiro</option>
                        <option>Presidente Vargas</option>
                        <option>Raiz</option>
                        <option>Santa Luzia</option>
                        <option>São Francisco</option>
                        <option>São Lázaro</option>
                        <option>Vila Buriti</option>



                    </select>
                </div>


                <div class="form-group col-md-4" id="oeste" style="display:none;">
                    <label for="exampleFormControlSelect1">BAIRROS</label>
                    <select class="form-control form-control-sm" name="bairro">

                        <option></option>
                        <option>Compensa</option>
                        <option>Glória</option>
                        <option>Lírio do Vale</option>
                        <option>Nova Esperança</option>
                        <option>Ponta Negra</option>
                        <option>Santo Agostinho</option>
                        <option>Santo Antônio</option>
                        <option>São Jorge</option>
                        <option>São Raimundo</option>
                        <option>Tarumã</option>
                        <option>Tarumã-Açu</option>
                        <option>Vila da Prata</option>


                    </select>
                </div>


                <div class="form-group col-md-4" id="centrosul" style="display:none;">
                    <label for="exampleFormControlSelect1">BAIRROS</label>
                    <select class="form-control form-control-sm" name="bairro">

                        <option></option>
                        <option>Adrianópolis</option>
                        <option>Aleixo</option>
                        <option>Chapada</option>
                        <option>Flores</option>
                        <option>Nossa Senhora das Graças</option>
                        <option>Parque 10 de Novembro</option>
                        <option>São Geraldo</option>


                    </select>
                </div>


                <div class="form-group col-md-4" id="centroeste" style="display:none;">
                    <label for="exampleFormControlSelect1">BAIRROS</label>
                    <select class="form-control form-control-sm" name="bairro">

                        <option></option>
                        <option>Alvorada</option>
                        <option>Da Paz</option>
                        <option>Dom Pedro</option>
                        <option>Planalto</option>
                        <option>Redenção</option>

                    </select>
                </div>

            </div>

            <div class="form-row">


                <div class="form-group col-md-6">
                    <label for="inputEmpresa">EMPRESA</label>
                    <input type="empresa" class="form-control form-control-sm" id="inputEmpresa" name="empresa">
                </div>

                <div class="form-group col-md-6">
                    <label for="inputCnpj">CNPJ</label>
                    <input type="cnpj" class="form-control form-control-sm" id="inputCnpj" name="cnpj">
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputContato">CONTATO</label>
                        <input type="contato" class="form-control form-control-sm" id="inputContato" name="contato">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="inputEmail">EMAIL</label>
                        <input type="Email" class="form-control form-control-sm" id="inputEmail" name="email">
                    </div>


                    <div class="form-group col-md-6">
                        <label for="inputcargo">CARGO</label>
                        <input type="cargo" class="form-control form-control-sm" id="inputCargo" name="cargo">
                    </div>




                    <div class="form-group col-md-6">
                        <label for="inputTel">TEL</label>
                        <input type="tel" class="form-control form-control-sm phone-ddd-mask" id="inputTel" name="telefone"  onkeypress="mask(this, mphone);" onblur="mask(this, mphone);"  >
                    </div>


                    <div class="form-group col-md-6 " id="sistemAtual">
                        <label for="sistemaAtual">SISTEMA ATUAL</label>
                        <input type="sistemaatual" class="form-control form-control-sm" name="sistema">
                    </div>



                    <div class="form-group col-md-6" style="margin-top: 25px;">
                        <div class="form-check">
                            <label class="form-check-label" for="possuiti">
                                <input class="form-check-input" type="checkbox" id="possuiti">
                                EMPRESA POSSUI TI
                            </label>
                        </div>
                    </div>

                    <div class="form-group col-md-2">
                        <div class="form-check">
                            <label class="form-check-label" for="possuimarketing">
                                <input class="form-check-input " type="checkbox" id="possuimarketing"
                                    onclick="marketing()">
                                POSSUI MARKETING
                            </label>
                        </div>
                    </div>

                    <div class="form-group col-md-4 " id="marketingAtual" style="display:none;">
                        <label for="inputSistemaAtual">EMPRESA DE MARKETING ATUAL</label>
                        <input type="sistemaatual" class="form-control form-control-sm" name="market">
                    </div>

                    <div class="col-md-12">
                        <label for="Observacoes" class="form-label">OBSERVAÇÕES</label>
                        <textarea class="form-control form-control-sm" id="Observacoes" rows="3"
                            name="observacao"></textarea>
                    </div>
                </div>

                <div class="col-md-12" class="text-end" style="margin-top: 20px;">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Salvar</button>
                </div>
            </div>
    </div>


    </form>


    </div>

    <%- include("layout/footer.html") %>