<%- include("layout/head.html") %>

<div class="container"> 

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Empresa</th>
            <th scope="col">CNPJ</th>
            <th scope="col">E-mail</th>
            <th scope="col">Tell</th>
            <th scope="col">Contato</th>
          </tr>
        </thead>
        <tbody>


            <% for(i=0; i < lista.length; i++ ){ %>
 

            <tr>
                <th scope="col"><%= lista[i]['leads_id'] %></td>
                <td><%= lista[i]['leads_empresa'] %></td>
                <td><%= lista[i]['leads_cnpj'] %></td>
                <td><%= lista[i]['leads_email'] %></td>
                <td><%= lista[i]['leads_telefone'] %></td>
                <td><%= lista[i]['leads_contato'] %></td>
            </tr>
            <% } %>
          
        </tbody>
      </table>
      <div>
        <hr>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

</div>


<%- include("layout/footer.html") %>