<%- include("layout/head.html") %>

<div class="container"> 

  
  
  <legend>Lista de Leads</legend>
  <div>
    <div class="text-right" style="margin-top: -40px;"><a href="/add/leads" class="btn btn-success btn-sm"><img src="/Img/outline_note_add_white_18dp.png"> adicionar leads</a></div>
  </div>
  <hr>
  
<div class="table-overflow">
    <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Empresa</th>
            <th scope="col">CNPJ</th>
            <th scope="col">E-mail</th>
            <th scope="col">Tell</th>
            <th scope="col">Contato</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>


            <% for(i=0; i < lista.length; i++ ){ %>
 

            <tr>
                <th scope="col"><%= lista[i]['leads_id'] %></td>
                <td><%= lista[i]['leads_empresa'] %></td>
                <td><%= lista[i]['leads_cnpj'] %></td>
                <td><%= lista[i]['leads_email'] %></td>
                <td><%= lista[i]['leads_telefone'] %></td>
                <td><%= lista[i]['leads_contato'] %></td>
                <th scope="col"><a href=""  class="btn btn-primary btn-sm"><img src="/Img/outline_edit_white_24dp.png"></a></th>
                <th scope="col"><a href=""  class="btn btn-danger btn-sm"><img src="/Img/outline_delete_forever_white_24dp.png"></a></th>
            </tr>
            <% } %>
          
        </tbody>
      </table>
    </div>

      <div>
        <hr>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="/home/1" aria-label="Previous">
              <span aria-hidden="true" style="color: #007bff;">&laquo;</span>
            </a>
          </li>
        <!--  <%= paginacao %>-->
        <!--   <%= total %>-->

            <% if(parseInt(paginacao)-1 != 0 ){ %>

              <li class="page-item"><a class="page-link" href=<%= parseInt(paginacao)-1 %>><%= parseInt(paginacao)-1 %></a></li>

            <% }else{ %>

              <li class="page-item"><a class="page-link">#</a></li>

            <% } %>

            
            <li class="page-item"><a class="page-link" href=<%= paginacao %>><%= paginacao %></a></li>

            <% if(parseInt(paginacao) < parseInt(total) ){ %>
              <li class="page-item"><a class="page-link" href=<%= parseInt(paginacao)+1 %>><%= parseInt(paginacao)+1 %></a></li>
            <% }else{ %>
              <li class="page-item"><a class="page-link">#</a></li>
            <% } %>
          
          
          <li class="page-item">
            <% if(total > 1 ){ %>
            <a class="page-link" href="/home/<%= total %>" aria-label="Next">
              <span aria-hidden="true" style="color: #007bff;">&raquo;</span>
            </a>
            <% } %>
          </li>
        </ul>
      </nav>

</div>


<%- include("layout/footer.html") %>